html, body, #root {
  background: linear-gradient(105deg, 
  rgba(131,58,180,1) 0%, 
  rgba(253,29,29,0.7251633929939163) 50%, 
  rgba(252,176,69,1) 100%);

  margin: 0;
  padding: 0;
  min-width: 100%;
  min-height: 100vh;
  overflow: auto;
}

.playing {
  grid-area: playing;
  border-radius: 5px 5px 0px 0px;
  text-align: center;
  -webkit-box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.75);
}

.search {
  grid-area: search;
  margin-bottom: 2px;
  margin-top: 2px;
  -webkit-box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.75);
}

.queue {
  grid-area: main;
  border-radius: 0px 0px 5px 5px;
  -webkit-box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.75);
}

/* The main css for the application */
.App {
  margin: 10px auto;
  width: 50%;
  max-width: 350px;
  min-width: 350px;
  padding: 10px;
  border-radius: 10px;

  display: grid;
  grid-template-areas:
    "playing"
    "search"
    "main";
  grid-gap: 5px;
  background-color: rgba(37, 37, 37, 0.452);
  
  -webkit-box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.75);
}
