.queueList {
    list-style-type: none;
    padding: 5px;
    margin: 0;
}

.queueList li {
    height: 55px;
    background-color: gray;
    border: solid 1px black;
    padding: 1px;
    border-radius: 5px;
    margin-bottom: 2px;
}

.songName {
    grid-area: songName;
    text-align: left;
    margin-left: 10px;
}

.songArtist {
    grid-area: songArtist;
    text-align: left;
    margin-left: 10px;
}

.vote {
    grid-area: vote;
    font-size: 10px;
    text-align: right;
    margin-right: 10px;
}

.queuedBy {
    grid-area: queuedBy;
    font-size: 10px;
    text-align: right;
    margin-right: 10px;
    vertical-align: center;
}

.songGrid > div {
    padding: 2px;
}

.songGrid {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-areas:
    "songName vote"
    "songArtist queuedBy";
    grid-gap: 0px;
}